# Entorno virtual
env/
venv/

# Archivos de entorno
.env
.env.*

# Archivos de compilación
__pycache__/
*.py[cod]
*.sqlite3

# Archivos de Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.mo

# Archivos de VS Code
.vscode/

# Archivos de Docker (si no quieres que suba caché)
**/__pycache__/
*.tar
